<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_truthorerr"
        android:label="Truth or Err"
        android:roundIcon="@drawable/img_truthorerr"
        android:supportsRtl="true"
        android:theme="@style/Theme.TruthorErrCapstone">
        <activity
            android:name=".ui.faq"
            android:exported="false" />
        <activity
            android:name=".ui.ListQuestions"
            android:exported="false" />
        <activity
            android:name=".ui.Friends"
            android:exported="false" />
        <activity
            android:name=".ui.Signup"
            android:exported="false" />
        <activity
            android:name=".ui.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Categories"
            android:exported="false" />
        <activity
            android:name=".ui.CreateCategory"
            android:exported="false" />
        <activity
            android:name=".ui.AnswerQuestion"
            android:exported="false" />
        <activity
            android:name=".ui.CreateQuestion"
            android:exported="false" />
        <activity
            android:name=".ui.Profile"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Settings"
            android:exported="false" />
    </application>

</manifest>